
[Unit]
Description=Gunicorn instance to serve ProATR
After=network.target

[Service]
User=ec2-user
Group=ec2-user
WorkingDirectory=/home/ec2-user/proatr_app
Environment="PATH=/home/ec2-user/proatr_app/venv/bin"
ExecStart=/home/ec2-user/proatr_app/venv/bin/gunicorn --workers 3 --bind unix:proatr.sock -m 007 app.main:app

[Install]
WantedBy=multi-user.target
